.idea

services/discovery-service/
services/**/application-dev.yaml
services/**/target
services/**/*.iml
common/target
proto/target

/for-develop

jenkins/jenkins_home/

k8s/**/secret.yaml

Messenger.iml