.idea
.gigaide

services/**/public.pem
services/**/target
services/**/*.iml
services/**/application-secrets.yaml
common/target
proto/target

/for-develop

jenkins/jenkins_home/

k8s/**/secret.yaml

Messenger.iml